tr.selected {
	background-color: lightgreen;
/* 	border: 1px solid greenyellow; */
/* 	border-left-width: 0px; */
/* 	border-right-width: 0px; */
	-webkit-box-shadow: 5px 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px 5px #888;
	-o-box-shadow: 5px 5px 5px 5px #888;
	box-shadow: 5px 5px 5px 5px #888;
	font-weight: bold;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
	position: relative;
	-webkit-transition:0.5s linear all;
	-moz-transition:0.5s linear all;
	-o-transition:0.5s linear all;
 	transition:0.5s linear all;
}

.repeat-item.ng-enter {
	opacity:0;
	height: 40px;
	left: -400px;
}

.repeat-item.ng-enter.ng-enter-active {
	opacity:1;
	height: 20px;
	left: 0px;
	top: 0px;
}

.repeat-item.ng-leave {
	opacity:1;
	height: 20px;
	left: 0px;
	top: -300px;
}

.repeat-item.ng-leave.ng-leave-active {
	opacity:0;
	height: 0px;
	left: 400px;
	top: -300px;
}

.hover:hover {
	background-color: #f5f5f5;
}

.match-result {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
